*{
    margin: 0;
    padding: 0;
}

.container-1{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 170px;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar ul{
    list-style-type: none;
    text-align: start;
}
.nav-bar ul li{
    display: inline;
    padding: 10px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: aliceblue;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 20px;
    
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    margin-right: -150px;
}
.h1{
    font-size: 24px ;
    font-weight: extra-bold;
    color: #f9faf8;
}
.h1-details{
    font-size: 18px;
    color: #e5e7eb;
}
.content-img img{
    width: 350px;
    height: 150px;
}
.sign-up{
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    width: 84px;
    height: 24px;
    font-size: small;
    cursor: pointer;
}
.rinfo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 62px;
}
.rinfo .info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.images-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:50px ;
}
.images-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.images-4 img{
    border: 2px solid rgb(100, 100, 202);
    width: 150px;
    border-radius: 10px;
}
.images-4 p{
    width: 150px;
}
.content-footer{
    display:flex;
    flex-direction: column;
    height: 250px;
    align-items: flex-end;
    justify-content: center;
    background-color: #e5e7eb;
}
.content-footer-quote{
    margin: 0 100px;
}
.content-footer-author{
    margin-right: 110px;
    margin-top: 20px;
    font-weight: bold;
}
.footer-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 200px;
}
#sign-up{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(57, 142, 240);
    border-radius: 20px;
    color: white;
    font-weight: 500;
}
.signup button{
    border: white 1px solid;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
    color: antiquewhite;
}