*{
    margin: 0;
    padding: 0;
}

.container-1{
    background-color: #464b46;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar ul{
    list-style-type: none;
    text-align: start;
}
.nav-bar ul li{
    display: inline;
    padding: 10px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: aliceblue;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left:150px ;
    gap: 10px;
    
}
.h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-img img{
    width: 150px;
    margin-right: 150px;
}
.sign-up{
    background-color: rgb(57, 142, 240);
    border-radius: 10px;
    border: none;
    width: 84px;
    height: 24px;
    font-size: small;
}